*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: darkgray;
}
.container{
    background-color: white;
    padding: 2rex;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 1rem 0;
}


form 
select,
input,
button{
    width: 100%;
    border: none;
    outline: none;
}